$text: #46464F;
$white: #FFF;
$gray: #A9A9A9;
$gray--dark: #808080;
$black: #000;
$red: #D7342B;
$red--darker: #C63129;
$red--darkest: #A62B24;
$blue: #0081C5;
$blue--darker: #006AA2;
$blue--darkest: #00517B;
$green: #47D161;
$green--darker: #41BC58;
$green--darkest: #38A04B;
$orange: #ff9933;
$orange--light: #ffcc99;
