@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,400,600');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
	font-family: 'Nunito Sans', sans-serif;
}

input {
    font-family: 'Nunito Sans', sans-serif;
    padding: 5px 10px;
    font-size: 1.5em;
    border: 1px solid $gray;
}

a {
    text-decoration: none;
}