.addexercise {
	display: flex;
	flex-direction: column;
	height: calc(100% - 10px);
	width: calc(100% - 10px);
	background-color: $blue;
	border-radius: 5px;
	margin: 5px;

	&__title {
		color: $blue;
		font-size: 1.5rem;
		font-weight: $light;
		text-transform: uppercase;
		margin: 15px 0 0;
	}

	&__form {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: calc(100% - 10px);
		background-color: $white;
		border-radius: 5px;
		margin: 5px;
	}

	&__sets {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: calc(100% - 10px);
		background-color: $white;
		border-radius: 5px;
		margin: 0 10px;
	}
	
	&__input {
		width: calc(100% - 80px);
		border: 1px solid $blue;
		border-radius: 5px;
		font-size: 1.3rem;
		font-weight: $light;
		text-transform: uppercase;
		outline: none;
		margin: 10px 0;
		text-align: center;

		&--set {
			width: calc(50% - 25px);
			margin: 5px 0;
		}
	}

	&__input-holder {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: calc(100% - 50px);
	}

	&__input-button {
		width: calc(100% - 58px);
		margin: 5px 0;
		padding: 5px 0;
		border: 1px solid $blue;
		border-radius: 5px;
		font-size: 1.3rem;
		font-weight: $light;
		color: $blue;
		text-transform: uppercase;
		outline: none;
		text-align: center;
	}
	
	&__button-holder {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: calc(100% - 50px);
		margin: 10px 0;
	}

	&__button {
		font-size: 3rem;

		&--cancel {
			color: $red;
			
			&:hover, &:active {
				color: $red--darker;
			}
		}

		&--add {
			color: $green;

			&:hover, &:active {
				color: $green--darker;
			}
		}
	}
}