.addexercise {
	display: flex;
	flex-direction: column;
	height: calc(100% - 10px);
	width: calc(100% - 10px);
	background-color: $blue;
	border-radius: 5px;
	margin: 5px;

	&__block {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: calc(100% - 10px);
		background-color: $white;
		border-radius: 5px;
		margin: 5px;
	}

	&__title {
		color: $blue;
		font-size: 1.5rem;
		font-weight: $light;
		text-transform: uppercase;
		margin: 10px 0;
	}

	&__form {
		width: 90%;
	}

	&__input {
		width: calc(100% - 20px);
		border: 1px solid $blue;
		font-size: 1.3rem;
		font-weight: $light;
		text-transform: uppercase;
		outline: none;
		margin: 10px 0;
	}
	
	&__button-holder {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		margin: 10px 0;
	}

	&__button {
		font-size: 3rem;

		&--cancel {
			color: $red;
			
			&:hover, &:active {
				color: $red--darker;
			}
		}

		&--add {
			color: $green;

			&:hover, &:active {
				color: $green--darker;
			}
		}
	}
}