.home {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;

	&__block {
		width: calc(100% - 10px);
		height: 32%;
		margin: 5px;
		border-radius: 5px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;

		&--training {
			background-color: $blue;

			&:active, &:hover {
				background-color: $blue--darker;
			}
		}

		&--profile {
			background-color: $red;

			&:active, &:hover {
				background-color: $red--darker;
			}
		}

		&--stats {
			background-color: $green;

			&:active, &:hover {
				background-color: $green--darker;
			}
		}
	}

	&__icon {
		font-size: 5rem !important;
		color: $white;
	}
}