.login {
	display: flex;
	flex-direction: column;
	height: calc(100% - 20px);
	width: calc(100% - 20px);
	margin: 10px;
	background-color: $gold;
	border-radius: 5px;

	&__block {
		margin: 10px;
		display: flex;
		justify-content: center;
		flex-direction: column;

		&--photo {
			height: 40%;
		}

		&--inputs {
			height: 60%;
			justify-content: flex-start;
			align-items: center;
		}
	}

	&__photo {
		background-image: url('../images/muscle.png');
		background-repeat: no-repeat;
		background-size: 170px;
		background-position: 40px 15px;
		border-radius: 5px;
		margin: auto;
		width: 220px;
		height: 200px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__input {
		width: 90%;
		height: 40px;
		border-radius: 5px;
		outline: none;
		margin: 15px auto;
	
		&--button {
			width: 95%;
			height: 60px;
			border: none;
			margin: 15px auto;
			background-color: $white;
			font-weight: $light;
			text-transform: uppercase;
		}
	}

	&__error {
		color: $red;
		font-size: 1.8rem;
		font-weight: $light;
		border-bottom: solid 1px $red;
	}
}