.training {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: calc(100% - 10px);
	width: calc(100% - 10px);
	background-color: $blue;
	border-radius: 5px;
	margin: 5px;

	&__block {
		width: calc(50% - 10px);
		height: calc(25% - 30px);
		margin: 5px;
		border-radius: 5px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		background-color: $white;

		// &:active, &:hover {
		// 	background-color: $green--darker;
		// }

		// &:nth-of-type(3n+1)
		// {
		// 	background-color: $white;

		// 	&:active, &:hover {
		// 		background-color: $red--darker;
		// 	}
		// }

		// &:nth-of-type(3n+2)
		// {
		// 	background-color: $white;

		// 	&:active, &:hover {
		// 		background-color: $blue--darker;
		// 	}
		// }
	}

	&__title {
		font-size: 1.6rem;
		color: $blue;
		font-weight: $light;
		text-transform: uppercase;
	}
}